
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
.account{
  border-radius: 20px;
  /* border: 1px solid #263d60; */
  padding-right: 5px;
  padding-left: 5px;
  color: black;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
}
.headerTitle{
  font-family: 'Pacifico', cursive;
  color: #780caa;
  font-size: 30px;
}
.form-control{
    margin: 0px auto;
    margin-bottom: 20px;
    flex-direction: column;
    border: 1px solid #ebe6e6;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px #eaeaea;
}
.accountDetails{
    border: 1px solid #c3c3c3;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    color: white;
    background: #662d91;
}
.headerTitle2{
  font-family: 'Josefin Sans', sans-serif;
  
  font-size: 30px;
}
.btn-primary{
  background: #662d91;
  color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #9b9b9b;
  cursor: pointer;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
